.conteneur {
	-fx-border-width:10;
}

.police {
   -fx-padding: 8 15 15 15;
   -fx-background-color: derive(black, 75%);
   -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
   -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
   -fx-background-radius: 8;
}

.label-police{
   -fx-text-fill: derive(black, 25%);
   -fx-font-size:3em;
}

#vue-racine {
	-fx-border-color:darkred;
}

#vue-file-attente {
		-fx-border-color:darkblue;
		-fx-alignment:center;
}

#vue-partie {
	-fx-border-color:darkgreen;
}

.gros-bouton {
	-fx-font-size: 1.2em;
	-fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}

.gros-bouton:pressed {
	-fx-font-size: 1em;
}

.gros-bouton:hover {
	-fx-cursor: hand;
}

.petit-espace-vertical {
	-fx-min-height:10;
	-fx-background-color:pink;
	-fx-opacity:0.2;
}

.grand-espace-vertical {
	-fx-min-height:30;
	-fx-background-color:pink;
	-fx-opacity:0.2;
}

.grand-espace-horizontal {
	-fx-min-height:30;
	-fx-background-color:pink;
	-fx-opacity:0.2;
}

.conteneur-parent {
	-fx-border-color:black;
}

#conteneur-police {
	-fx-min-height:100;
	-fx-min-width:100;
	-fx-alignment:top-center;
}


.scroll-bar {
   -fx-background-color: transparent;
   -fx-border-color: transparent;
}

.scroll-bar .track {
   -fx-background-color: derive(black, 75%);
   -fx-border-color: transparent;
   -fx-background-radius: 8;
}

.scroll-bar .thumb {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button,
.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow,
.scroll-bar .corner {
    -fx-shape : " ";    
    -fx-background-color: transparent;
    -fx-visibility: hidden;
}
